#content {
    max-width: 430px;
    margin: 30px auto;
    background-color: #fdf8f0;
    border-radius: 35px;
    overflow:  hidden;
}

body {
    background-color: black;
}
.post-footer {
    display: flex;
    background-color: #3a538c;     /* Blue like the image */
    color: white;
    text-align: center;
    border-radius: 0 0 30px 30px;  /* Round bottom corners */
    overflow: hidden;              /* Keeps corners clean */
}

.foot-box {
    flex: 1;                       /* Exactly 1/3 width */
    padding: 18px 0;
    border-right: 1px solid rgba(255, 255, 255, 0.25); 
}

.foot-box:last-child {
    border-right: none;            /* Remove last divider */
}

.big {
    margin: 0;
    font-size: 1.4rem;
}

.small {
    margin: 5px 0 0;
    font-size: 0.75rem;
    letter-spacing: 1px;
}


.bridge {
    width: 100%;
    display: block;
    
}
main {
    text-align: center;
}
.big sup {
    font-size: 0.6em;
    vertical-align: super;
}
